@font-face{
  font-family: "GilroyLight", sans-serif;
  src: url("../fonts/Gilroy/Gilroy-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: "GilroyExtrabold", sans-serif;
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face{
  font-family: "OpenSansLight", sans-serif;
  src: url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: "OpenSansRegular", sans-serif;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body{
  padding: 0;
  margin: 0;
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 85px 60px 50px 60px;
  background-image: -webkit-linear-gradient(#ffffff 0px, #ffffff 40px, #f7e296 40px, #f7e296);
  background-image: -o-linear-gradient(#ffffff 0px, #ffffff 40px, #f7e296 40px, #f7e296);
  background-image: linear-gradient(#ffffff 0px, #ffffff 40px, #f7e296 40px, #f7e296);
}

.header-logo {
  position: absolute;
  top: 12px;
  left: 55px;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;

  text-transform: uppercase;
  text-decoration: none;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-search-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 441px;
  min-height: 36px;
  margin-right: 98px;
  margin-bottom: 37px;
}

.header-search-form::before {
  content: "";
  position: absolute;
  top: 8px;
  display: block;
  width: 16px;
  height: 16px;

  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header-search-form input[type=search] {
  width: 356px;
  padding: 5px 0;
  padding-left: 36px;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #000000;

  background-color: #f7e296;

  border: none;
  opacity: 0.3;

}

.header-search-form:hover input[type=search] {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.header-search-form input[type=search]:focus {
  border-bottom: 2px solid #000000;
  color: #000000;
  opacity: 1;
}

.search-link {
  display: none;
  width: 81px;
  padding: 7px 0;

  color: #000000;
  text-decoration: none;
  text-align: center;

  border: 2px solid #000000;
}

.header-search-form input[type=search]:focus ~ .search-link {
  display: block;
}

.header-search-send-btn {
  position: absolute;
  top: -2px;
  left: 228px;
  display: none;
  width: 81px;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;

  border: 2px solid #000000;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.header-search-input+.header-search-send-btn:active,
.header-search-input:focus + .header-search-send-btn {
  display: block;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.authorization-item a {
    position: relative;
}

.authorization-item:first-child a {
  padding-left: 27px;
}

.header-login-link {
  position: relative;

  margin-right: 80px;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;

  text-decoration: none;
}

.header-login-link::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 16px;
  height: 16px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header-link:hover {
  opacity: 0.6;
}

.header-link:active {
  opacity: 0.3;
}

.authorization-profile-link {
  margin-right: 20px;
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;

  text-decoration: none;
}

.header-authorization-profile-link::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 16px;
  height: 16px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: center;
}


.authorization-login-link {
  position: relative;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;

  text-decoration: none;
}

.authorization-exit-link {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;

  text-decoration: none;
  opacity: 0.3;
}

.user-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.user-panel-item a {
  padding-left: 25px;
  text-align: right;
}

.user-panel-compare-link {
  position: relative;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;

  text-decoration: none;
}

.header-compare-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;

    background-image: url("../img/compare.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.user-panel-basket-link {
  position: relative;
  padding-left: 24px;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;

  text-decoration: none;
}

.header-basket-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header-info-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}

.header-info-item {
  position: relative;
  list-style: none;
}

.header-info-link {
  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

  text-transform: uppercase;
  text-decoration: none;
}

.catalog-link {
  position: relative;
  margin-right: 330px;
}

.catalog-link::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -32px;
  display: block;
  width: 16px;
  height: 16px;

  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.3;
}

.header-submenu {
  width: 1100px;
  position: absolute;
  top: 20px;
  left: -60px;
  display: none;
  padding: 14px 0 26px 60px;

  background-color: #f7e296;
}

.catalog-link:hover ~ .header-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-submenu-items {
  width: 240px;
  padding: 0;
  margin: 0;
}

.header-submenu-item {
  list-style: none;
}

.header-submenu-link {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;

  text-decoration: none;
}

.delivery-link {
  margin-right: 38px;
}

.guarantee-link {
  margin-right: 100px;
}

.slider {
  margin-bottom: 104px;

  background-image: -webkit-linear-gradient(top, #f7e296 0%, #f7e296 113px, #ffffff 113px, #ffffff 100%);

  background-image: -o-linear-gradient(top, #f7e296 0%, #f7e296 113px, #ffffff 113px, #ffffff 100%);

  background-image: linear-gradient(to bottom, #f7e296 0%, #f7e296 113px, #ffffff 113px, #ffffff 100%);
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.second-slide {
  display: none;
}

.third-slide {
  display: none;
}

.slider-item-image {
  width: 560px;
  margin-right: 40px;
  text-align: center;
}

.slider-item-description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 500px;
  padding-top: 70px;

  z-index: 2;
}

.first-slide .slider-item-description::before {
  content: "01";
  position: absolute;
  top: -35px;
  right: 48px;
  display: block;
  width: 165px;
  height: 130px;

  color: #ffffff;
  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-weight: 900;
  font-size: 179px;

  background-repeat: no-repeat;
  background-position: center;

  z-index: -2;
}

.second-slide .slider-item-description::before {
  content: "01";
  position: absolute;
  top: -55px;
  right: 60px;
  display: block;
  width: 165px;
  height: 130px;

  color: #ffffff;
  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-weight: 900;
  font-size: 179px;

  background-repeat: no-repeat;
  background-position: center;

  z-index: -2;
}

.third-slide .slider-item-description::before {
  content: "01";
  position: absolute;
  top: -55px;
  right: 60px;
  display: block;
  width: 165px;
  height: 130px;

  color: #ffffff;
  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-weight: 900;
  font-size: 179px;

  background-repeat: no-repeat;
  background-position: center;

  z-index: -2;
}

.slide-title {
  position: relative;
  width: 470px;
  padding-top: 10px;
  margin-bottom: 22px;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
}

.slide-title::before {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100px;
  height: 7px;

  background-image:
}

.slide-description {
  width: 480px;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.slide-link {
  width: 220px;
  margin-right: 178px;
  margin-bottom: 55px;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  color: #000000;

  text-decoration: none;
  text-transform: uppercase;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(33%, #ffffff),color-stop(33%, #f4d361), color-stop(35%, #f4d361), color-stop(35%, #f0c52e), color-stop(64%, #f0c52e), color-stop(64%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, #ffffff), to(#ffffff));

  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 33%,#f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, #ffffff 66%, #ffffff 100%);

  background-image: -o-linear-gradient(top, #ffffff 0%, #ffffff 33%,#f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, #ffffff 66%, #ffffff 100%);

  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 33%,#f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, #ffffff 66%, #ffffff 100%);
}

.slide-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
  padding-top: 5px;
}

.slide-radio {
  display: none;
}

.slide-radio-label {
  position: relative;
  width: 12px;
  height: 12px;

  font-size: 0;

  background-image: url("../img/slider-button-empty.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.slide-radio:checked + .slide-radio-label {
  background-image: url("../img/slider-button.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.slide-radio-label:nth-child(3n) {
  margin-right: 0;
}

.slide-table tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 500px;
}

.slide-table tr{
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide-table-value {
  display: block;
  margin-bottom: 5px;

  font-family: "GilroyLight", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
}

.slide-table-value-name {
  display: block;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #464646;
}

.popular-categories {
  margin-bottom: 84px;
}

.popular-categories-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.popular-category-item {
  width: 160px;
  list-style: none;
}

.popular-category-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 160px;
  margin-bottom: 30px;

  background-color: rgba(240, 197, 46, 0.5);
}

.popular-category-link:hover,
.popular-category-link:hover .popular-category-image {
  background-color: #f0c52e;
}

.popular-category-link:active .popular-category-image {
  opacity: 0.3;
}

.popular-category-image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.popular-category-title {
  width: 160px;
  padding: 0;
  margin: 0;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 68px;
  margin-bottom: 92px;

  background-image: -webkit-linear-gradient(#ffffff 0%, #ffffff 100px, #e5e5e5 100px, #e5e5e5 100%);

  background-image: -o-linear-gradient(#ffffff 0%, #ffffff 100px, #e5e5e5 100px, #e5e5e5 100%);

  background-image: linear-gradient(#ffffff 0%, #ffffff 100px, #e5e5e5 100px, #e5e5e5 100%);
  background-position: center;
  background-repeat: no-repeat;
}

.services .flex-container  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 71px;
  padding-left: 115px;
  width: 714px;
}

.first-service::after {
  content: "";
  position: absolute;
  top: 69px;
  right: -3px;
  display: block;
  width: 180px;
  height: 195px;

  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.second-service::after {
  content: "";
  position: absolute;
  top: 50px;
  right: 0;
  display: block;
  width: 180px;
  height: 195px;

  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.third-service::after {
  content: "";
  position: absolute;
  top: 60px;
  right: 0;
  display: block;
  width: 180px;
  height: 195px;

  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.first-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-service {
  display: none;
}

.third-service {
  display: none;
}



.service-buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 277px;
  padding: 80px 0 45px 0;

  border-right: 7px solid #000000;
}

.service-btn {
  display: none;
}

.service-label {
  width: 160px;
  padding: 11px 0;
  margin-bottom: 25px;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  font-weight: 800;

  text-align: center;
  text-transform: uppercase;

  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 16px, #f4d361 16px, #f4d361 17px, #f0c52e 17px, #f0c52e 22px, #f4d361 22px, #f4d361 23px, rgba(0, 0, 0, 0) 23px, rgba(0, 0, 0, 0) 100%);

  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 16px, #f4d361 16px, #f4d361 17px, #f0c52e 17px, #f0c52e 22px, #f4d361 22px, #f4d361 23px, rgba(0, 0, 0, 0) 23px, rgba(0, 0, 0, 0) 100%);

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 16px, #f4d361 16px, #f4d361 17px, #f0c52e 17px, #f0c52e 22px, #f4d361 22px, #f4d361 23px, rgba(0, 0, 0, 0) 23px, rgba(0, 0, 0, 0) 100%);
  background-position: center;
  background-repeat: no-repeat;
}

.service-label:hover {
  background-color: #f0c52e;
  background-image: none;
}

.service-btn:checked + .service-label {
  padding-right: 117px;

  color: #f7e184;

  background: none;
  background-color: #000000;
}

.service-title {
  margin-bottom: 35px;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 47px;
  font-weight: 800;
  color: #000000;
}

.service-content {
  width: 460px;
  padding: 0;
  margin: 0;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.company-logotypes {
  padding-top: 2px;
  margin-bottom: 139px;
}

.company-logo-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.company-logo-item {
  list-style: none;
}

.company-logo-image:hover {
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 90px;
}

.about-us {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 472px;
}

.about-us::before {
  content: "";
  position: absolute;
  top: -50px;
  display: block;
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-us-title {
  padding: 0;
  margin: 0;
  margin-bottom: 45px;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.about-us-content {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.about-us-list {
  padding: 0;
  padding-top: 35px;
  padding-left: 35px;
  margin: 0;
  margin-bottom: 63px;

  list-style: none;
}

.about-us-list-company-name {
  position: relative;
  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

.about-us-list-company-name::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -34px;
  display: block;
  width: 8px;
  height: 8px;

  border: 2px solid #e5e5e5;
  border-radius: 8px;
}

.about-us-link {
  width: 260px;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-align: center;

  text-transform: uppercase;
  text-decoration: none;

  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(33%, rgba(0, 0, 0, 0)),color-stop(33%, #f4d361), color-stop(35%, #f4d361), color-stop(35%, #f0c52e), color-stop(64%, #f0c52e), color-stop(64%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));

  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 33%,#f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);

  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 33%,#f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 33%,#f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);
  background-position: center;
  background-repeat: no-repeat;
}

.link {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(33%, rgba(0, 0, 0, 0)),color-stop(33%, #f4d361), color-stop(35%, #f4d361), color-stop(35%, #f0c52e), color-stop(64%, #f0c52e), color-stop(64%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 33%,#f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 33%,#f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 33%,#f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);
}

.link:hover {
  background: none;
  background-color: #f0c52e;
}

.link:active {
  color: rgba(0, 0, 0, 0.3);
  background: none;
  background-color: #f0c52e;
}

.contacts {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 560px;
}

.contacts::before {
  content: "";
  position: absolute;
  top: -50px;
  display: block;
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.contacts-title {
  padding: 0;
  margin: 0;
  margin-bottom: 45px;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.contacts-content {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.contacts-map {
  margin-bottom: 76px;

  border: none;
}

.contacts-link {
  width: 260px;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-align: center;

  text-transform: uppercase;
  text-decoration: none;

  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(33%, rgba(0, 0, 0, 0)),color-stop(33%, #f4d361), color-stop(35%, #f4d361), color-stop(35%, #f0c52e), color-stop(64%, #f0c52e), color-stop(64%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));

  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 33%,#f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);

  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 33%,#f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 33%,#f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);
  background-position: center;
  background-repeat: no-repeat;
}

.main-footer {
  padding: 55px 0 67px 0;
  background-color: #464646;
}

.main-footer .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  margin-right: 450px;
  margin-bottom: 20px;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: #ffc600;
  text-transform: uppercase;
}

.footer-adress {
  padding: 0;
  margin: 0;
  margin-right: 110px;
  margin-bottom: 61px;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 420px;
  padding: 0;
  margin: 0;
  margin-right: 150px;
}

.footer-menu-item {
  list-style: none;
}

.footer-menu-link {
  margin-bottom: 63px;

  letter-spacing: 2px;
  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #ffffff;

  text-decoration: none;
}

.footer-authorization {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 5px;
}

.footer-login-link {
  margin-right: 40px;
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #ffffff;

  opacity: 0.7;
}

.footer-login-icon {
  position: absolute;
  top: 2px;
  left: 0px;
  display: block;

  fill: #ffc600;
}

.footer-profile-link {
  color: #ffffff;
  opacity: 0.7;
}

.footer-authorization-exit-link {
  color: #ffffff;
  opacity: 0.3;
}

.footer-user-panel {
  width: 220px;
  padding-top: 5px;
}

.footer-htmlacademy-icon {
  fill: #ffc600;
}

.footer-user-panel-item {
  list-style: none;
}

.footer-authorization-link::before {
  fill: #ffc600;
}

.footer-compare-link {
  padding-left: 30px;
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #ffffff;

  text-decoration: none;
  opacity: 0.7;
}

.footer-compare-icon {
  position: absolute;
  top: 3px;
  left: 0px;
  display: block;

  fill: #ffc600;
}

.footer-basket-link {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #ffffff;

  text-decoration: none;
  opacity: 0.7;
}

.footer-basket-icon {
  position: absolute;
  top: 3px;
  left: 0px;
  display: block;

  fill: #ffc600;
}

.footer-tel {
  margin-bottom: 59px;
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;

  text-decoration: none;
}

.footer-social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  padding: 0;
  padding-left: 510px;
  margin: 0;
  margin-right: 450px;
}

.footer-social::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  display: block;
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55px;
  list-style: none;
}


.footer-social-link {
  font-size: 0;
  width: 32px;
  height: 32px;

  opacity: 0.3;
}

.social-fb {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-insta {
  background-image: url("../img/instagramm.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-tw {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.write-us-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 760px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 95px 100px 85px 100px;
  margin: 0 auto;
  background-color: #ffffff;

  -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);

          box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
}

.write-us-form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
}

.write-us-label {
  width: 360px;
  margin-bottom: 7px;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.write-us-input {
  width: 320px;
  padding: 15px 20px;
  margin-bottom: 35px;

  font-family: "OpenSansRegular", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;

  background-color: #f2f2f2;

  border: none;
}

.write-us-input:hover {
  background-color: #eaeaea;
}

.write-us-input:focus {
  width: 314px;
  padding: 12px 20px;
  padding-left: 17px;
  background-color: #ffffff;

  border: 3px solid #f7e296;
}

.write-us-textarea {
  width: 100%;
  padding: 19px 20px 11px 20px;
  margin-bottom: 50px;

  background-color: #f2f2f2;
  border: none;
}

.map-popup {
  display: none;
  width: 994px;
  height: 593px;
  margin: 0 auto;
  position: relative;
}

.close-link {
  width: 55px;
  height: 55px;
  position: absolute;
  right: 22px;
  top: 22px;

  font-size: 0;

  border: none;
  background-color: inherit;
}

.close-link:hover .close-link-svg {
  opacity: 1;
}

.close-link:active .close-link-svg {
  opacity: 0.3;
}

.close-link-svg {
  fill: #f0c52e;
  opacity: 0.5;
}

.write-us-send-btn {
  width: 200px;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-align: center;

  text-transform: uppercase;
  text-decoration: none;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(33%, #ffffff),color-stop(33%, #f4d361), color-stop(35%, #f4d361), color-stop(35%, #f0c52e), color-stop(64%, #f0c52e), color-stop(64%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, #ffffff), to(#ffffff));

  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 33%,#f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, #ffffff 66%, #ffffff 100%);

  background-image: -o-linear-gradient(top, #ffffff 0%, #ffffff 33%,#f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, #ffffff 66%, #ffffff 100%);

  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 33%,#f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, #ffffff 66%, #ffffff 100%);
  background-position: center;
  background-repeat: no-repeat;

  border: none;
}

.header-menu-item {
  list-style: none;
}

.header-menu-link {
  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

  text-decoration: none;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-content-title {
  padding: 0;
  padding-left: 60px;
  padding-top: 35px;
  margin: 0;
  margin-bottom: 26px;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  padding-left: 60px;
  margin: 0;
  margin-bottom: 46px;
}

.breadcrumbs-item {
  list-style: none;
}

.breadcrumbs-link {
  position: relative;
  margin-right: 40px;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;

  text-decoration: none;

  opacity: 0.3;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.1;
}

.breadcrumbs-active-link {
  opacity: 0.3;
}

.breadcrumbs-active-link:hover {
  opacity: 0.3;
}

.breadcrumbs-active-link:active {
  opacity: 0.3;
}


.breadcrumbs-link::after {
  position: absolute;
  top: 5px;
  right: -16px;
  content: "";
  display: block;
  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-item:last-child .breadcrumbs-link::after {
  display: none;
}

.catalog {
  width: 100%;
}

.catalog-header {
  background: -webkit-gradient(linear, left top, right top, from(#dbdbdb), color-stop(50%, #dbdbdb), color-stop(50%, #ebebeb), to(#ebebeb));
  background: -webkit-linear-gradient(left, #dbdbdb 0%, #dbdbdb 50%, #ebebeb 50%, #ebebeb 100%);
  background: -o-linear-gradient(left, #dbdbdb 0%, #dbdbdb 50%, #ebebeb 50%, #ebebeb 100%);
  background: linear-gradient(to right, #dbdbdb 0%, #dbdbdb 50%, #ebebeb 50%, #ebebeb 100%);
}

.catalog-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-title {
  width: 268px;
  padding: 22px 0;
  padding-left: 60px;
  margin: 0;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

  background-color: #dcdcdc;

  letter-spacing: 3px;
  text-transform: uppercase;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 832px;
  padding: 23px 0;

  background-color: #ebebeb;
}

.sort-title {
  padding: 0;
  padding-left: 72px;
  margin: 0;
  margin-right: 40px;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

  letter-spacing: 3px;
  text-transform: uppercase;
}

.sort-link {
  margin-right: 30px;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #000000;

  text-decoration: none;
}

.sort-link:hover {
  opacity: 0.6;
}

.sort-link:active {
  opacity: 1;
}

.sort-type {
  opacity: 0.3;
}

.sort-popular {
  opacity: 0.3;
}

.sort-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41px;
  margin-left: auto;
}

.sort-arrow {
  display: inline-block;
  vertical-align: top;
  width: 11px;
  height: 10px;

  font-size: 0;
  opacity: 0.2;
}

.sort-arrow:hover {
  opacity: 0.4;
}

.sort-arrow:active {
  opacity: 1;
}

.arrow-active {
  opacity: 1;
}

.catalog-content {
    background: -webkit-gradient(linear, left top, right top, from(rgba(238, 238, 238, 1)), color-stop(55%, rgba(238, 238, 238, 1)), color-stop(55%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 1) 55%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(left, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 1) 55%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 1) 55%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0) 100%);
}

.catalog-content .flex-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter {
  width: 268px;
  padding-left: 60px;
  background-color: #efefef;
}

.filter-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 268px;
  margin-right: 68px;
  margin-bottom: 20px;
  border: none;

  background-color: #efefef;
}

.filter-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
}

.filter-price::before {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 2px;
  top: 69px;
  left: 0;

  background-color: #000000;
}

.filter-price::after {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 2px;
  bottom: 0px;
  left: 0px;

  background-color: #000000;
}

.filter-price-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-price-slider-btn {
  position: relative;
  width: 20px;
  height: 20px;

  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
}

.filter-price-slider-btn:hover {
  background-color: #fff;

  cursor: pointer;
}

.filter-price-slider-btn:active {
  cursor: pointer;
}

.filter-price-slider-btn::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 2px;

  background-color: #ababab;
}

.filter-price-slider-field {
  position: relative;
  width: 93px;
  height: 2px;

  background-color: #91c92f;
}

.filter-price-slider-field::after {
  content: "";
  position: absolute;
  top: 0;
  right: -65px;
  display: block;
  width: 45px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.filter-price-text {
  display: inline-block;
  vertical-align: top;
  width: 90px;
  margin-bottom: 33px;

  font-family: "GilroyLight", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.filter legend {
  margin-bottom: 25px;
}

.filter-color {
  padding: 0;
  padding-bottom: 25px;
  margin: 0;
}

.filter-color::after {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 2px;
  bottom: 0px;
  left: 0px;

  background-color: #000000;
}

.filter-color-checkbox {
  display: none;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.filter-color-checkbox:checked + .checkbox-label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-price .filter-legend {
  padding-top: 85px;
}

.filter-legend {
  padding-top: 11px;
  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.filter-label {
  position: relative;
  padding-left: 41px;
  margin-bottom: 15px;
  width: 160px;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #000000;

  cursor: pointer;
}

.filter-bluetooth {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
}

.bluetooth-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.filter-bluetooth-radio:checked + .bluetooth-label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-bluetooth-radio {
  display: none;
}

.filter-send-form-btn {
  width: 200px;
  padding: 0;
  margin: 0;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

  text-transform: uppercase;
  text-decoration: none;

  background-image: -webkit-gradient( linear, left top, left bottom, from(#efefef), color-stop(33%, #efefef), color-stop(33%, #f4d361), color-stop(35%, #f4d361), color-stop(35%, #f0c52e), color-stop(64%, #f0c52e), color-stop(64%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, #efefef), to(#efefef));

  background-image: -webkit-linear-gradient( #efefef 0%, #efefef 33%, #f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, #efefef 66%, #efefef 100%);

  background-image: -o-linear-gradient( #efefef 0%, #efefef 33%, #f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, #efefef 66%, #efefef 100%);

  background-image: linear-gradient( #efefef 0%, #efefef 33%, #f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, #efefef 66%, #efefef 100%);
  background-position: center;
  background-repeat: no-repeat;

  border: none;
  cursor: pointer;
}

.goods-catalog {
  width: 100%;
}

.main-catalog-container {
  width: 760px;
  padding-left: 72px;
}

.main-catalog-content .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-items {
  width: 760px;
  padding-left: 72px;
  padding-top: 69px;
  background-color: #ffffff;
}

.goods-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.goods-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 46px;
}

.goods-item:nth-child(2n) {
  margin-right: 0;
}

.new::after {
  content: "new";
  position: absolute;
  top: 29px;
  right: 27px;
  padding: 15px 10px;

  text-transform: uppercase;
  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  opacity: 0.2;

  border: 2px solid #000000;
  border-radius: 50%;
}

.goods-item-hover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 378px;

  background-color: rgba(238, 238, 238, 0.7);
}

.goods-item:hover .goods-item-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goods-item-name {
  width: 270px;
  padding-top: 32px;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

  text-decoration: none;
}

.goods-item-price {
  width: 85px;
  padding-top: 35px;
  margin-left: auto;

  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
}

.goods-item-add-item {
  width: 200px;
  margin-bottom: 25px;
  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(33%, rgba(0, 0, 0, 0)),color-stop(33%, #f4d361), color-stop(35%, #f4d361), color-stop(35%, #f0c52e), color-stop(64%, #f0c52e), color-stop(64%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, #f4d361), color-stop(66%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));

  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 33%,#f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);

  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 33%,#f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 33%,#f4d361 33%, #f4d361 35%, #f0c52e 35%, #f0c52e 64%, #f4d361 64%, #f4d361 66%, #f4d361 66%, #f4d361 66%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);
  background-position: center;
  background-repeat: no-repeat;
}

.goods-item-add-for-compare {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);

  text-decoration: none;
}

.goods-item-add-for-compare:hover {
  color: #000000;
}

.goods-item-add-for-compare:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  padding: 23px 0;
  margin: 0;
  margin-bottom: 66px;

  background-color: #ebebeb;
}

.pagination-numbers {
  width: 160px;

  list-style: none;
}

.pagination-item {
  list-style: none;
}

.pagination-link {
  padding: 23px 25px;
  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #d9d9d9;
}

.pagination-link:active {
  background-color: #d9d9d9;
  opacity: 0.3;
}

.number-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
}

.pagination-page-number {
  margin-right: 30px;

  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

  text-transform: uppercase;
  text-decoration: none;

  opacity: 0.3;
}

.pagination-page-number:nth-child(3n) {
  margin-right: 0;
}

.pagination-page-number:hover {
  opacity: 0.6;
}

.pagination-page-number:active {
  opacity: 1;
}

.active-number-page {
  opacity: 1;
}

.pagination-forward-link {
  font-family: "GilroyExtrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

  text-transform: uppercase;
  text-decoration: none;
}

.footer-authorization-profile-link {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;

  text-decoration: none;
}

.footer-authorization-exit-link {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;

  text-decoration: none;

  opacity: 0.3;
}
